<main>
  <section>
    <div class="row success-row">
      <div class="column">
        <div>
          <h1 class="h1">BLKY Pets</h1>
        </div>
        <div>
          <h3 class="h3">Accesorios para mascotas.</h3>
        </div>
      </div>

      <div class="column success-column box dark">
        <div class="column">
          <h2 class="h2">Revisa tu correo.</h2>
        </div>

        <div>
          <div class="column">
            <p class="p">Te enviamos un correo electrónico a
              {{email}}. Por favor revisa tu bandeja de entrada para continuar
              con el proceso de recuperación de contraseña.</p>
          </div>
          <div class="column box-padding">
            <p class="p">Haz
              <a href="/login">click aquí</a>
              para volver al inicio.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>