* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #100e30;
  color: #e6faff;
  min-height: 100vh;
}

section {
  padding-top: 10%;
}

.registry-section {
  padding-top: 3%;
}

.admin-section, .profile-section {
  padding-top: 2%;
}

.row {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
}

.success-row {
  align-items: center;
}

.label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.admin-row, .profile-row {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.admin-column, .profile-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-column {
  max-width: 30%;
}

.h1-margin {
  margin-top: 50%;
}

.h1 {
  user-select: none;
  font-size: clamp(2rem, 5vw, 4rem);
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
}

.h1:after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background-color: #70cad1;
  left: 0;
  bottom: -5px;
  transition: all 0.3s ease;
}

.h1:hover:after {
  width: 100%;
}

.h2 {
  user-select: none;
  font-size: clamp(1rem, 2vw, 3rem);
  margin-bottom: 2rem;
}

.h2-margin, .h3-margin {
  margin-top: 5%;
}

.h2-recover {
  user-select: none;
  font-size: clamp(1rem, 2vw, 3rem);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.h3 {
  user-select: none;
  font-size: clamp(1rem, 1.5vw, 2rem);
  margin-bottom: 1rem;
}

.h3-profile {
  user-select: none;
  font-size: clamp(1rem, 1.5vw, 2rem);
  margin: 1rem 0;
}

.h4 {
  user-select: none;
}

.p {
  user-select: none;
  font-size: clamp(1rem, 1vw, 2rem);
  color: #646464;
}

.p a {
  color: #646464;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease;
}

.p a:hover {
  color: #70cad1;
}

.card-p {
  font-size: clamp(1rem, 1vw, 2rem);
  color: #646464;
}

.info-label {
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: 700;
  user-select: none;
}

.info-data {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  user-select: none;
}

.box {
  border-radius: 30px;
  padding: 1.5rem;
}

.registry-box {
  min-width: 35%;
  max-width: 50%;
}

.box-margin {
  margin: 1rem 0;
}

.box-padding {
  padding: 2.5rem 0;
}

.password-p {
  color: #646464;
  text-align: left;
  padding: 1rem 0;
}

.box-padding-recover {
  padding: 1rem 0;
}

.admin-panel, .profile-panel {
  width: 100%;
}

.admin-panel-info, .profile-panel-info {
  align-items: center;
  max-width: 90%;  
}

.profile-panel-margin {
  margin-bottom: 4rem;
}

.dark {
  background-color: #100e10;
}

.label {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.input {
  border: none;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #363732;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
  min-height: 3rem;
  padding-left: 0.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.github-btn-container {
  max-width: 50%;
}

/* CARDS */
.card-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-card-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 5%;
}

.card-container {
  background-color: #f9f9f9;
  color: #100e10;
  border-radius: 10px;
}

.product-card-container {
  background-color: #f9f9f9;
  color: #100e10;
  border-radius: 10px;
  width: 30%;
}

.card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.card-btn-container {
  margin: 1rem;
}

/* BOTONES */
.btn {
  background-color: #363732;
  border: none;
  border-radius: 5px;
  color: #f9f9f9;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  max-width: 100%;
  padding: 1em 1.25em;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-add:hover {
  color: #43aa8b;
}

.btn-remove:hover {
  color: #ef3054;
}

.btn-submit:hover {
  color: #6883ba;
}

.github-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn-container div a {
  text-decoration: none;
}

.btn-container div a button img {
  max-width: 10%;
}
